<section style=" background-color: #2772ed;">
  <div
    class="mx-auto w-full lg:px-24  md:px-12 items-center px-8 py-24 dotted-pattern"
    style=" background-color: #2772ed;"
  >
    <div>
      <div style="margin-top: 0px; " class="text-center  mx-auto">
        <div class="sm:flex sm:justify-center"></div>
        <p
          class="text-6xl tracking-tight  text-black md:text-5xl font-display  hero-heading"
          style="color: #fdfdfd;    font-weight: 550;line-height: 1.2em; font-size:50px"
        >
          Publish <span style="color:#ACEC59">SEO-optimized</span> WordPress posts from Google Docs
        </p>

        <p
          class="lg:text-xl max-w-2xl mt-4 mx-auto text-base hero-subheading"
          style=" color: #fdfdfd;"
        >
         
        </p>
        <p style="color:#ACEC59;font-size: 35px;font-weight: 550;">Start ranking higher</p>
      </div>

      <ul class="hero-list"><li>✓ Write in Google Docs</li>

        <li>✓ Add smart internal links & SEO optimise based on suggestions</li>
        
        <li>✓ Publish to WordPress with clean HTML formatting</li></ul>

      <!-- To Display font awesome grid icons -->
      <div  class="home-icons-grid">
        <div class="home-grid-item">
            <i class="fas fa-lock"></i>
            <p>Safe & Secure</p>
          </div>
        <div class="home-grid-item">
            <i class="fa-solid fa-wand-magic-sparkles"></i>    
        <p>Semantic internal links using AI</p>
          </div>
        <div class="home-grid-item">
            <i class="fas fa-link"></i>
            <p>Link suggestions with contextual data</p>
          </div>
        <div class="home-grid-item">
            <i class="fas fa-tachometer-alt"></i>
            <p>SEO suggestions</p>
          </div>
        <div class="home-grid-item">
            <i class="fas fa-compress-arrows-alt"></i>
            <p>Automatic image compression</p>
          </div>
        <div class="home-grid-item">
            <i class="fas fa-robot"></i>
            <p>Image Alt Text generation using AI</p>
          </div>
        <div class="home-grid-item">
            <i class="fa-brands fa-yoast"></i>
            <p>Yoast support</p>
          </div>
        <div class="home-grid-item">
        <i class="fas fa-r" ></i>
         
          <p>Rank Math support</p>
        </div>
           
        <div class="home-grid-item">
            <i class="fa fa-puzzle-piece"></i>
            <p>Custom Post Types</p>
          </div>
        <div class="home-grid-item">
            <i class="fas fa-edit"></i>
            <p>Classic and Gutenberg editor support</p>
          </div>
          
          
        </div>
      <div
        class="hero-subheading fdfdfd"
        style="margin-top: 60px; text-align: center;font-size: 24px; color: #fdfdfd;"
      >
        Our products are used by a growing community of over 4,000 people
        worldwide.
      </div>

      <div
        
        style="margin-top: 50px; text-align: center;font-size: 24px; color: #fdfdfd;"
      >
        
      <button style="background-color: #21b577; color: #ffffff;" class="hover:bg-white hover:text-black text-gray-800 py-2 px-4 rounded inline-flex items-center" onmouseover="this.style.backgroundColor='#ffffff'; this.style.color='#000000'" onmouseout="this.style.backgroundColor='#21b577'; this.style.color='#ffffff'">
        <a href="https://workspace.google.com/marketplace/app/docs_to_wp_pro/346830534164?utm_source=docstowp.pro&utm_medium=home_page_cta&utm_id=app_home" target="_blank" style="color: inherit;">Get started for free</a>
      </button>
      
      
      
      </div>
      <!--#ACEC59   <dl
        class="lg:gap-x-8 lg:grid-cols-3 max-w-4xl mt-8 mx-auto sm:gap-x-6 sm:gap-y-12 sm:grid sm:grid-cols-2 sm:space-y-0 space-y-6 text-center text-sm items-start"
      >
        <div class="text-gray-500">
          <strong class="text-gray-700"
            >Astro, Tailwind CSS and Alpine.js</strong
          > ━ This are the popular technologies behind Astrosaas.
        </div>
        <div class="text-gray-500">
          <strong class="text-gray-700">Includes 6 pages</strong> ━ You will
          find this landing, faq, terms,privacy,sign up and sign in pages.
        </div>
        <div class="text-gray-500">
          <strong class="text-gray-700">Different section</strong> ━ The starter
          includes different feature sections, a pricing table, testmionial, CTA
          and full forms. more.
        </div>
        <div class="text-gray-500">
          <strong class="text-gray-700">Different section</strong> ━ The starter
          includes different feature sections, a pricing table, testmionial, CTA
          and full forms. more.
        </div>
      </dl>-->
      
    </div>
  </div>

</section>
<section><div class="compare-container" style="display: flex;margin-top:20px;">

    <!-- Left Section -->
   <div class="section-container" style="padding: 5px; margin-left:0px;border-right: 1px solid #ccc;">
   <h2 style="text-align: center;font-weight: 500;font-size: 35px;">Before</h2>
    <div class="list-container" style=" padding: 10px; ">
     
      <ul>
        <li class="custom-list-item">Write content in Google Docs</li>
  <li class="custom-list-item">Manually add internal links</li>
  
        <li class="custom-list-item">Create new post in WordPress</li>
        <li class="custom-list-item">Copy paste the content from Docs</li>
  <li class="custom-list-item">Fix formatting issues</li>
  <li class="custom-list-item">Compress images for faster loading</li>
        <li class="custom-list-item">Add image captions</li>
  <li class="custom-list-item">Upload featured image</li>
  <li class="custom-list-item">Select Categories and Tags</li>
        <li class="custom-list-item">Set Meta descriptions and Title</li>
        <li class="custom-list-item">Hit publish</li>
      </ul>
    </div>
  </div>
    <!-- Right Section -->
   <div class="section-container" style="flex: 1; padding: 0px;">
  <h2 style="text-align: center;font-weight: 500;font-size: 35px;">After</h2>
    <div class="list-container" style="flex: 0; padding: 0px;">
      
      <ul>
        <li class="custom-list-item">Write content in Google Docs</li><li class="custom-list-item">Add internal links in a <i>single</i> click</li>
        <li class="custom-list-item">Hit publish</li>
        
        <li class=" expand-item">
          
  <svg version="1.1" height="120px" class="my-svg-icon-bottom" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 512 512" style="enable-background:new 0 0 512 512;" xml:space="preserve">
  <g id="XMLID_1_">
      <path id="XMLID_14_" d="M264.4,29.8V14h-15.8v15.8H264.4z M264.4,78.2V45.6h-15.8v32.6H264.4z M264.4,126.6V94h-15.8v32.6H264.4z
           M264.4,174.1v-32.6h-15.8v32.6H264.4z M264.4,222.5v-31.7h-15.8v32.6h15.8V222.5z M264.4,270.9v-32.6h-15.8v32.6H264.4z
           M264.4,319.3v-32.6h-15.8v32.6H264.4z M264.4,367.7v-32.6h-15.8v32.6H264.4z M264.4,415.2v-32.6h-15.8v32.6H264.4z M264.4,463.6
          V431h-15.8v32.6H264.4z M264.4,512v-32.6h-15.8V512H264.4z"></path>
      <polygon id="XMLID_15_" points="334.2,72.6 261.6,0 250.4,0 177.8,72.6 189,83.8 256,16.8 323,83.8 	"></polygon>
  </g>
  </svg>
    <!-- Text -->
    More time for writing
  <svg version="1.1" height="120px" class="my-svg-icon-top" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 512 512" style="enable-background:new 0 0 512 512;" xml:space="preserve">
  <g id="XMLID_1_">
      <path id="XMLID_13_" d="M247.6,433.8v8.4h15.8v-8.4H247.6z M247.6,385.4V418h15.8v-32.6H247.6z M247.6,337.9v32.6h15.8v-32.6H247.6
          z M247.6,289.5v31.7h15.8v-32.6h-15.8V289.5z M247.6,241.1v32.6h15.8v-32.6H247.6z M247.6,192.7v32.6h15.8v-32.6H247.6z
           M247.6,144.3v32.6h15.8v-32.6H247.6z M247.6,96.8v32.6h15.8V96.8C263.4,96.8,247.6,96.8,247.6,96.8z M247.6,48.4V81h15.8V48.4
          H247.6z M247.6,0v32.6h15.8V0H247.6z"></path>
      <polygon id="XMLID_14_" points="323,428.2 256,495.2 189,428.2 177.8,439.4 250.4,512 261.6,512 334.2,439.4 	"></polygon>
  </g>
  </svg>  <!-- Down Arrow -->
  
      </li></ul>
    </div></div>
  
  </div></section>