---
import { SITE } from 'astrowind:config';
import { Image } from 'astro:assets';
import logo from '../assets/images/logo-48.png';
---
<Image src={logo} alt="Thinksolv logo" />
<span class="self-center ml-2 rtl:ml-0 rtl:mr-2 text-2xl md:text-xl font-bold text-gray-900 whitespace-nowrap dark:text-white" style=" color: #2772ed;">
 {SITE?.name}
</span>
